<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Kerrie Low &mdash; Resume</title>
</head>
<body>
<!-- Nav bar -->
<!-- Nav bar -->
<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <div class="">
        <ul class="navbar-nav">
            <li class="text-monospace navbar-brand">KL</li>
            <li class="text-monospace nav-item bg-dark"><a href="../index.php" class="nav-link">Home</a></li>
            <li class="text-monospace nav-item bg-dark"><a href="../index.php#bio" class="nav-link">Bio</a></li>
            <li class="text-monospace nav-item bg-dark"><a href="../index.php#portfolio" class="nav-link">Portfolio</a></li>
            <li class="text-monospace nav-item bg-dark"><a href="klow-resume.html" class="nav-link active">Resume</a></li>
        </ul>
    </div>
</nav>
<!-- header -->
<div id="header" class="container-fluid jumbotron jumbotron-fluid">
    <h1 class="text-center text-monospace">Kerrie Low</h1>
    <div class="container d-flex justify-content-between">
        <p>kerrie_low@hotmail.com</p>
        <a class="text-monospace" href="https://www.linkedin.com/in/kerrie-low-65a060b5" target="_blank">LinkedIn</a>
    </div>
    <div class="container d-flex justify-content-between">
        <p>(206) 947-6172</p>
        <a class="text-monospace" href="https://github.com/Quizzlixx" target="_blank">Git</a>
    </div>
</div> <!-- /header -->
<div class="container">

    <h2 class="text-monospace">Summary</h2>
    <p>Former quality assurance tester turned software development student seeking a summer internship in a Java
        environment</p>
    <hr>

    <h2 class="text-monospace">Skills & Certifications</h2>
    <ul>
        <li>Languages: Java, JavaScript, C++</li>
        <li>Web: HTML/CSS, Bootstrap, jQuery, JSON</li>
        <li>Agile: pair programming, working in sprints</li>
        <li>Tools: Git, Eclipse, IntelliJ, PHPStorm</li>
    </ul>
    <hr>

    <h2 class="text-monospace">Projects</h2>
    <div class="d-flex justify-content-between">
        <h5><strong>iD.A.Y. Dream</strong></h5>
        <p>September 2019 &mdash; present</p>
    </div>
    <p>In a small Agile team, we developed a data-driven website to take user input, store user data, and
        allow an admin to view and modify user data</p>
    <ul>
        <li>Implemented HTML formatting for the Volunteer page and other related page elements</li>
        <li>Implemented CSS styling for the header, footer, form buttons, and colors</li>
        <li>Built and implemented the database to hold information for the end user</li>
        <li>Wrote SQL queries for team members to implement with PHP</li>
    </ul>
    <div class="d-flex justify-content-between">
        <h5><strong>Blackdawn profile page</strong></h5>
        <p>2017 &mdash; 2018</p>
    </div>
    <p>Working collaboratively with a friend, I designed and implemented the profile page for a role-play website</p>
    <ul>
        <li>Designed and implemented the profile page to display user information</li>
        <li>Designed the database to hold user information with blog functionality</li>
    </ul>
    <hr>

    <h2 class="text-monospace">Education</h2>
    <div class="d-flex justify-content-between">
        <p><strong>Bachelor of Applied Science</strong>, expected June 2021<br>
            Major: Software Development (Applied Computer Science), GPA: 3.92<br>
            Green River College &mdash; Auburn, WA<br>
            Relevant Coursework:</p>
        <p>2018 &mdash; Present</p>
    </div>
    <ul>
        <li>Object Orient Programming</li>
        <li>Full Stack Web Development</li>
        <li>Data Structures & Algorithms</li>
        <li>Database Fundamentals</li>
    </ul>
    <hr>

    <h2 class="text-monospace">Experience</h2>
    <div class="d-flex justify-content-between">
        <p><strong>Aerotek - Nintendo of America</strong> &mdash; Redmond, WA<br>
            Quality Assurance Product Tester Tier II</p>
        <p>2011 &mdash; 2016</p>
    </div>
    <ul>
        <li>Working with a team I ensured games were without bugs and ready to release to the public</li>
        <li>I ensured projects were on schedule by taking on extra tasks</li>
        <li>Using proprietary software I performed general functionality testing and language localisation</li>
    </ul>

    <h2 class="text-monospace">Achievements & Activities</h2>
    <ul>
        <li>Associate in Arts, highest honors, awarded 2019</li>
        <li>President's Honors, awarded 2016</li>
        <li>Sakura Con, volunteer, 2016</li>
    </ul>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>