a {
    color: #004085;
}
body {
    margin-bottom: 2em;
}
#email-format {
    display: none;
}
.err {
    display: none;
}
#header{
    background-color: #95999c !important;
}
#other-block {
    display: none;
}
radio {
    display: none;
}